if SHIELD_SHIRONEKO_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Shiro Neko"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SHIRONEKO_LEFT || SHIELD_SHIRONEKO_RIGHT

config ZMK_SPLIT
    default y

endif